Button {
 margin: 5px;
}

h5,h4,h3,h2,h1 {
  margin: 20px;
}

.nav-link {
  color: white;
}

.dogagotchi-header {
  padding-left: 50px;
}

.img-trivia {
  max-width: 500px;
  max-height: 500px;
}

.achievement-element {
  font-weight: bold;
}


.home, .login{
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: lightblue;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-form {
  margin:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.user-main-div {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-stats-container {
  display: flex;
  justify-content: space-between; 
  margin-left: 0;
  margin-right: auto;
}

 .user-achievements {
  border: 13px outset rgba(109, 136, 145, 1);
  background-color: #ade3e3;
  flex: 1;
  min-width: 100px;
  padding: 10px;
  margin: 20px;
}

.user-stats div {
  margin: 10px;
  font-weight: bold;
}

.achievement-container,.user-stats-container{
  display: flex;
  flex-direction: row;
  margin-left: 0; 
  margin-right: 0;
}

.achievement-header {
  /* font-family: "Arial Black", Gadget, sans-serif; */
  text-decoration: solid rgb(68, 68, 68);
  text-align: center;
  font-weight: bold;
}

.achievement-icon {
  padding-top: 10px;
}

.achievement-element {
 font-style: italic
}

.dogs {
  width: 100%;
  overflow: auto;
  align-items: center;
}
.dogs::-webkit-scrollbar {
  display: none;
} 

/* .item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}*/


.col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.col div {
  padding: 10px;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  align-items: center;
  justify-content: center;
}

.dog .user-kennel, .dogs {
  display: inline-block;
}

.user-kennel{
  width: 500px;
}
.shimmer {
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #cfcfcf));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #E2D01E));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #E2D01E));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}


@-moz-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}


.meal-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.meals-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#pantry {
  min-height: 500px;
  overflow: auto;
}
.pantry{
  padding-bottom: 50px;
}

.meal-image {
  width: 150px;
  height: 150px
}

.boot-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 15px;
}
#meal-item {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 2px
}

:root {
  --color-primary: #0D6EFD;
  --color-secondary:#0d5ed9;
  --color-tertiary: #0a4aaa;
  --color-quaternary:#073170;
  --color-quinary: #041e45;
}
.top-dogs {
  min-height: 100vh;
  font-weight: 500;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: lightblue;
}

.top-dogs {
  display: flex;
  align-content: center;
  justify-content: center;
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-weight: 800;
  text-transform: uppercase;
  font-size: calc(1rem + 4vw);
  text-align: center;
  margin: 2;
  color: var(--color-primary);
  color: transparent;
  /* background-color: white; */
  background-clip: text;
  animation: shadows 2.5s ease-in infinite, move 2.5s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.leader-header, .leader-info{
  text-align: center;
  width: 50%;
}
.leader-button-smartest {
  margin-right: 50px;
  margin-bottom: 20px;
}
.leader-button-richest {
  margin-left: 350px;
  margin-bottom: 20px;
}