Button {
 margin: 5px;
}

h5,h4,h3,h2,h1 {
  margin: 20px;
}

.nav-link {
  color: white;
}

.img-trivia {
  max-width: 500px;
  max-height: 500px;
}

.achievement-element {
  font-weight: bold;
}

.leader-username {
  text-decoration: underline;
}

.leader-username:hover {
  cursor: pointer;
  color: blue
}

.home, .login{
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: lightblue;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-form {
  margin:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.user-main-div {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-stats, .user-achievements {
  border: 3px solid blue;
  flex: 1;
  min-width: 100px;
  padding: 10px;
  margin: 20px;
}

.user-stats-container, .achievement-container {
  display: flex;
  justify-content: space-between; 
  
}

.boot-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 15px;
}
