Button {
 margin: 5px;
}

h5,h4,h3,h2,h1 {
  margin: 20px;
}

.nav-link {
  color: white;
}

.img-trivia {
  max-width: 500px;
  max-height: 500px;
}

.achievement-element {
  font-weight: bold;
}

.leader-username {
  text-decoration: underline;
}

.leader-username:hover {
  cursor: pointer;
  color: blue
}

.home{
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: lightblue;
}


.user-main-div {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-stats-container {
  display: flex;
  justify-content: space-between; 
  margin-left: 0;
  margin-right: auto;
}

.user-stats, .user-achievements {
  border: 13px outset rgba(213,177,16,0.76);
  flex: 1;
  min-width: 100px;
  padding: 10px;
  margin: 20px;
}

.achievement-container {
  display: flex;
  flex-direction: row;
  margin-left: auto; 
  margin-right: 0;
}

.achievement-header {
  font-family: "Arial Black", Gadget, sans-serif;
  text-decoration: underline solid rgb(68, 68, 68);
}

.achievement-element {
 font-style: italic
}

.shimmer {
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #E2D01E));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #E2D01E));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #E2D01E));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}

@-moz-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

.meal-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.meals-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.meal-image {
  width: 150px;
  height: 150px
}
#meal-item {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 2px
}